@model AzzanOrder.ManagerOwner.Models.Model





<div class="container-fluid p-0">

    <!-- Modal for OTP Entry -->
    <div class="modal fade show" id="otpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="otpModalLabel">OTP Verification</h5>
                </div>
                <div class="modal-body">
                    <form asp-action="VerifyOtpFreeTrial" asp-controller="Home" method="post">
                        <div class="mb-3">
                            <label class="form-label">OTP</label>
                            <input type="text" name="otp" class="form-control" placeholder="Enter OTP" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Verify OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">ㅤ</h1>
    </div>

    <div class="row">
        <div class="col-md-10 col-xl-8 mx-auto">
            <h1 class="text-center">OAS subscription</h1>
            <p class="lead text-center mb-4">Manage your cafe shop at ease right now!!!</p>

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Register as an owner</h5>
                        <h5 class="card-title">Become the boss of your shop</h5>
                    </div>
                    <div class="card-body">
                        <form asp-action="SubscribeAction" asp-controller="Home" method="post" enctype="multipart/form-data">
                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-end">Name</label>
                                <div class="col-sm-10">
                                    <input asp-for="owner.OwnerName" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-end">Phone</label>
                                <div class="col-sm-10">
                                    <input asp-for="owner.Phone" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-end">Email</label>
                                <div class="col-sm-10">
                                    <input asp-for="owner.Gmail" class="form-control" placeholder="Email">
                                </div>
                            </div>

                            <fieldset class="mb-3">
                                <div class="row">
                                    <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Gender</label>
                                    <div class="col-sm-10">
                                        <label class="form-check">
                                            <input asp-for="owner.Gender" type="radio" class="form-check-input" value=true>
                                            <span class="form-check-label">Male</span>
                                        </label>
                                        <label class="form-check">
                                            <input asp-for="owner.Gender" type="radio" class="form-check-input" value=false>
                                            <span class="form-check-label">Female</span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-end">Birthday</label>
                                <div class="col-sm-10">
                                    <input asp-for="owner.BirthDate" class="form-control" data-inputmask-alias="datetime"
                                           data-inputmask-inputformat="dd/mm/yyyy" />
                                    <span class="text-muted">DD/MM/YYYY format.</span>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Image</label>
                                <div class="col-sm-10">
                                    <input asp-for="owner.Image" name="employeeImage" type="file" accept=".png, .jpg">
                                    <small class="form-check-label text-muted">Only png and jpg allowed.</small>
                                </div>
                            </div>

                            @* <div class="mb-3 row">
                            <label class="col-form-label col-sm-2 text-sm-end">Select Bank</label>
                            <div class="col-sm-10">
                            <select asp-for="bankDatum.code" class="form-select">
                            <option value="">-- Select a Bank --</option>
                            @foreach (var bank in Model.bankDatums)
                            {
                            <option value="@bank.code">@bank.shortName</option>
                            }
                            </select>
                            </div>
                            </div> *@

                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-end">PayOS client ID</label>
                                <div class="col-sm-10">
                                    <input asp-for="owner.Bank.PAYOS_CLIENT_ID" class="form-control" placeholder="PAYOS_API_KEY">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-end">PayOS API key</label>
                                <div class="col-sm-10">
                                    <input asp-for="owner.Bank.PAYOS_API_KEY" class="form-control" placeholder="PAYOS_CLIENT_ID">
                                </div>
                            </div>


                            <div class="mb-3 row">
                                <label class="col-form-label col-sm-2 text-sm-end">PayOS checksum key</label>
                                <div class="col-sm-10">
                                    <input asp-for="owner.Bank.PAYOS_CHECKSUM_KEY" class="form-control" placeholder="PAYOS_CHECKSUM_KEY">
                                </div>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="monthly">
                                    <div class="row py-4">
                                        <div class="col-sm-4 mb-3 mb-md-0">
                                            <div class="card text-center h-100">
                                                <div class="card-body d-flex flex-column">
                                                    <div class="mb-4">
                                                        <h5>Free Trial</h5>
                                                        <span class="display-4">0đ</span>
                                                    </div>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">
                                                            Come and use our service!
                                                        </li>
                                                    </ul>
                                                    <div class="mt-auto">
                                                        <button type="submit" class="btn btn-primary" name="pack" value="free">Purchase</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-md-0">
                                            <div class="card text-center h-100">
                                                <div class="card-body d-flex flex-column">
                                                    <div class="mb-4">
                                                        <h5>Yearly</h5>
                                                        <span class="display-4">300.000đ</span>
                                                        <span>/year</span>
                                                    </div>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">
                                                            Moderate
                                                        </li>
                                                    </ul>
                                                    <div class="mt-auto">
                                                        <button type="submit" class="btn btn-outline-primary" name="pack" value="yearly">Purchase</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-md-0">
                                            <div class="card text-center h-100">
                                                <div class="card-body d-flex flex-column">
                                                    <div class="mb-4">
                                                        <h5>Forever!!</h5>
                                                        <span class="display-4">3.000.000đ</span>
                                                    </div>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">
                                                            Best value!
                                                        </li>
                                                    </ul>
                                                    <div class="mt-auto">
                                                        <button type="submit" class="btn btn-outline-primary" name="pack" value="forever">Purchase</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <hr />

            <div class="text-center my-4">
                <h2>Frequently asked questions</h2>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-6 ms-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h6 card-title">How do I pay?</h5>
                            <p class="mb-0">
                                Easy and fast with online banking.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 me-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h6 card-title">Do you offer a free trial?</h5>
                            <p class="mb-0">
                                Unfortunately no. But you can try our cheapest plan. It's dirt cheap!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 me-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h6 card-title">What do I do if my account expired?</h5>
                            <p class="mb-0">
                                You subscribe again with the same phone number. Your staffs and managers can still use the account for one more week over your expiration.
                                P/S: All  input other than your phone number will be ignored.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 me-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h6 card-title">Do you need all the information above?</h5>
                            <p class="mb-0">
                                Not really. All we need is your phone number.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script>
    // Auto-show the OTP modal on page load
    document.addEventListener("DOMContentLoaded", function () {
        new bootstrap.Modal(document.getElementById("otpModal")).show();
    });
</script>
