@model AzzanOrder.ManagerOwner.Models.Model
@{
    ViewBag.Title = "SubscribeExtension";
}


<div class="container-fluid p-0">

    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">ㅤ</h1>
    </div>

    <div class="row">
        <div class="col-md-10 col-xl-8 mx-auto">
            <h1 class="text-center">OAS Subscription Extension</h1>
            <p class="lead text-center mb-4">Sustain your business! OAS forever!</p>

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Become the boss of your shop</h5>
                    </div>
                    <div class="card-body">
                        <form asp-action="SubscribeExtension" asp-controller="Home" method="post" enctype="multipart/form-data">
                            <div class="mb-3 row">


                            <br />
                            @if (TempData["Message"] != null)
                            {
                                <div class="alert alert-warning">
                                    @TempData["Message"]
                                </div>
                            }




                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="monthly">
                                    <div class="row py-4">
                                        <div class="col-sm-6 mb-3 mb-md-0">
                                            <div class="card text-center h-100">
                                                <div class="card-body d-flex flex-column">
                                                    <div class="mb-4">
                                                        <h5>Monthly</h5>
                                                        <span class="display-4">30.000đ</span>
                                                        <span>/month</span>
                                                    </div>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">
                                                            Moderate
                                                        </li>
                                                    </ul>
                                                    <div class="mt-auto">
                                                        <button type="submit" class="btn btn-outline-primary" name="pack" value="yearly">Purchase</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-md-0">
                                            <div class="card text-center h-100">
                                                <div class="card-body d-flex flex-column">
                                                    <div class="mb-4">
                                                        <h5>Yearly</h5>
                                                        <span class="display-4">300.000đ</span>
                                                        <span>/year</span>
                                                    </div>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">
                                                            Best value!
                                                        </li>
                                                    </ul>
                                                    <div class="mt-auto">
                                                        <button type="submit" class="btn btn-outline-primary" name="pack" value="forever">Purchase</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <hr/>
            <div class="text-center my-4">
                <h2>Frequently asked questions</h2>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-6 ms-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h6 card-title">How do I pay?</h5>
                            <p class="mb-0">
                                Easy and fast with online banking.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 me-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h6 card-title">Do you offer a free trial?</h5>
                            <p class="mb-0">
                                Unfortunately no. But you can try our cheapest plan. It's dirt cheap!
                            </p>
                        </div>
                    </div>
                </div>
             
                    <div class="col-md-5 col-sm-6 ms-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="h6 card-title">Do you need all the information above?</h5>
                                <p class="mb-0">
                                    Not really. All we need is your phone number.
                                </p>
                            </div>
                        </div>
                    </div>
                
                <div class="col-md-5 col-sm-6 me-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h6 card-title">What do I do if my account expired?</h5>
                            <p class="mb-0">
                                You purchase again for a pack. We will extend your subscription end date automatically!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
