@model AzzanOrder.ManagerOwner.Models.Model


<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Update Employee</h5>
        </div>
        <div class="card-body">
            <form asp-action="UpdateAction" asp-controller="Employee" method="post" enctype="multipart/form-data">
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Employee ID</label>
                    <div class="col-sm-10">
                        <input asp-for="employee.EmployeeId" class="form-control" readonly>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Name</label>
                    <div class="col-sm-10">
                        <input asp-for="employee.EmployeeName" class="form-control" placeholder="Name">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Phone</label>
                    <div class="col-sm-10">
                        <input asp-for="employee.Phone" class="form-control" placeholder="Phone">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Email</label>
                    <div class="col-sm-10">
                        <input asp-for="employee.Gmail" class="form-control" placeholder="Email">
                    </div>
                </div>

                <fieldset class="mb-3">
                    <div class="row">
                        <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Gender</label>
                        <div class="col-sm-10">
                            
                                @{
                                    if(Model.employee.Gender == true)
                                    {
                                    <label class="form-check">
                                        <input asp-for="employee.Gender" type="radio" class="form-check-input" value=true checked>
                                        <span class="form-check-label">Male</span>
                                    </label>
                                    <label class="form-check">
                                        <input asp-for="employee.Gender" type="radio" class="form-check-input" value=false >
                                        <span class="form-check-label">Female</span>
                                    </label>
                                    }else{
                                    <label class="form-check">
                                        <input asp-for="employee.Gender" type="radio" class="form-check-input" value=true>
                                        <span class="form-check-label">Male</span>
                                    </label>
                                    <label class="form-check">
                                        <input asp-for="employee.Gender" type="radio" class="form-check-input" value=false checked>
                                        <span class="form-check-label">Female</span>
                                    </label>
                                    }
                                }                     
                           
                            
                        </div>
                    </div>
                </fieldset>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Birthday</label>
                    <div class="col-sm-10">
                        <input asp-for="employee.BirthDate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy">
                        <span class="text-muted">DD/MM/YYYY format.</span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Home Address</label>
                    <div class="col-sm-10">
                        <textarea asp-for="employee.HomeAddress" class="form-control" placeholder="Home Address" rows="3"></textarea>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Work Address</label>
                    <div class="col-sm-10">
                        <textarea asp-for="employee.WorkAddress" class="form-control" placeholder="Work Address" rows="3"></textarea>
                    </div>
                </div>

                <fieldset class="mb-3">
                    <div class="row">
                        <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Role</label>
                        <div class="col-sm-10">
                            @foreach (var item in Model.roles)
                            {
                                <label class="form-check">
                                    @if (item.RoleId == Model.employee.RoleId)
                                    {
                                        <input asp-for="employee.RoleId" type="radio" class="form-check-input" value="@item.RoleId" checked>
                                    }
                                    else
                                    {
                                        <input asp-for="employee.RoleId" type="radio" class="form-check-input" value="@item.RoleId">
                                    }
                                    <span class="form-check-label">@item.RoleName</span>
                                </label>
                            }

                        </div>
                    </div>
                </fieldset>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Image</label>
                    <div class="col-sm-10">
                        <input asp-for="employee.Image" name="employeeImage" type="file" accept=".png, .jpg">
                        <small class="form-check-label text-muted">Only png and jpg allowed.</small>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-10 ms-sm-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
