USE [master]
GO
/****** Object:  Database [SteveJobs]    Script Date: 07/10/2024 11:10:20 CH ******/
CREATE DATABASE [SteveJobs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SteveJobs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SteveJobs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SteveJobs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SteveJobs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SteveJobs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SteveJobs]
GO
/****** Object:  Table [dbo].[About]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[About](
	[AboutId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[OwnerId] [int] NULL,
 CONSTRAINT [PK_About] PRIMARY KEY CLUSTERED 
(
	[AboutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[BankId] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [nvarchar](max) NULL,
	[BankNumber] [varchar](50) NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](max) NULL,
	[Gender] [bit] NULL,
	[Phone] [varchar](10) NULL,
	[Gmail] [nvarchar](max) NULL,
	[BirthDate] [datetime] NULL,
	[RoleId] [int] NULL,
	[HomeAddress] [nvarchar](max) NULL,
	[WorkAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Feedbackid] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[MemberId] [int] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[Feedbackid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCategory]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCategory](
	[ItemCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[ItemCategoryName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Discount] [float] NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_ItemCategory] PRIMARY KEY CLUSTERED 
(
	[ItemCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[MemberName] [nvarchar](max) NULL,
	[Gender] [bit] NULL,
	[Phone] [varchar](10) NOT NULL,
	[Gmail] [nvarchar](max) NULL,
	[BirthDate] [datetime] NULL,
	[Address] [nvarchar](max) NULL,
	[Point] [int] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCategory]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCategory](
	[MenuItemId] [int] NOT NULL,
	[ItemCategoryId] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsForCombo] [bit] NULL,
 CONSTRAINT [PK_MenuCategory] PRIMARY KEY CLUSTERED 
(
	[MenuItemId] ASC,
	[ItemCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItem]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItem](
	[MenuItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[Description] [nvarchar](max) NULL,
	[Discount] [float] NULL,
	[Image] [nvarchar](max) NULL,
	[IsAvailable] [bit] NULL,
	[EmployeeId] [int] NULL,
 CONSTRAINT [PK_MenuItem] PRIMARY KEY CLUSTERED 
(
	[MenuItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[MemberId] [int] NULL,
	[EmployeeId] [int] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NULL,
	[OrderDetailId] [int] NULL,
	[TableId] [int] NULL,
	[Cost] [float] NULL,
	[Tax] [float] NULL,
	[MemberId] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
	[MenuItemId] [int] NULL,
	[OrderId] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[OwnerId] [int] IDENTITY(1,1) NOT NULL,
	[OwnerName] [nvarchar](max) NULL,
	[Gender] [bit] NULL,
	[Phone] [varchar](10) NULL,
	[Gmail] [nvarchar](max) NULL,
	[BirthDate] [datetime] NULL,
	[BankId] [int] NULL,
 CONSTRAINT [PK_Owner] PRIMARY KEY CLUSTERED 
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[TableId] [int] IDENTITY(1,1) NOT NULL,
	[QR] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[EmployeeId] [int] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VocherDetailId] [int] NOT NULL,
	[ItemCategoryId] [int] NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[VocherDetailId] ASC,
	[ItemCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherDetail]    Script Date: 07/10/2024 11:10:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherDetail](
	[VoucherDetailId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Discount] [float] NULL,
 CONSTRAINT [PK_VoucherDetail] PRIMARY KEY CLUSTERED 
(
	[VoucherDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[About] ON 

INSERT [dbo].[About] ([AboutId], [Title], [Content], [OwnerId]) VALUES (2, N'Vision', N'Is an organization that guides the culture of enjoying and providing high quality agricultural products - recognized by the community.', 1)
INSERT [dbo].[About] ([AboutId], [Title], [Content], [OwnerId]) VALUES (3, N'Mission', N'Bringing high quality standards to Vietnamese agricultural products (coffee and cocoa)', 1)
SET IDENTITY_INSERT [dbo].[About] OFF
GO
SET IDENTITY_INSERT [dbo].[Bank] ON 

INSERT [dbo].[Bank] ([BankId], [BankName], [BankNumber]) VALUES (1, N'NH So Timo', N'9021687094268')
SET IDENTITY_INSERT [dbo].[Bank] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [EmployeeName], [Gender], [Phone], [Gmail], [BirthDate], [RoleId], [HomeAddress], [WorkAddress]) VALUES (1, N'Tr?nh Hoàng Dung', 1, N'0967375045', N'dungthhe170357@fpt.edu.vn', CAST(N'2003-09-06T00:00:00.000' AS DateTime), 1, N'Hà N?i', N'Azzan')
INSERT [dbo].[Employee] ([EmployeeId], [EmployeeName], [Gender], [Phone], [Gmail], [BirthDate], [RoleId], [HomeAddress], [WorkAddress]) VALUES (2, N'Hoàng Minh Tu?n', 0, N'0388536414', N'vipxpert3721@gmail.com', CAST(N'2003-03-01T00:00:00.000' AS DateTime), 2, N'Hà N?i', N'Azzan')
INSERT [dbo].[Employee] ([EmployeeId], [EmployeeName], [Gender], [Phone], [Gmail], [BirthDate], [RoleId], [HomeAddress], [WorkAddress]) VALUES (3, N'Ðào Nguy?n Quang Thành', 1, N'0395746221', N'daothanh1121@gmail.com', CAST(N'2003-11-21T00:00:00.000' AS DateTime), 3, N'Hà N?i', N'Azzan')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([Feedbackid], [Content], [MemberId]) VALUES (1, N'Great coffee and fast service!', 1)
INSERT [dbo].[Feedback] ([Feedbackid], [Content], [MemberId]) VALUES (2, N'Loved the atmosphere!', 2)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemCategory] ON 

INSERT [dbo].[ItemCategory] ([ItemCategoryId], [ItemCategoryName], [Description], [Discount], [Image]) VALUES (1, N'CAFÉ', N'COFFEE', 0, N'https://www.flaticon.com/free-icon/coffee-cup_8230211')
INSERT [dbo].[ItemCategory] ([ItemCategoryId], [ItemCategoryName], [Description], [Discount], [Image]) VALUES (2, N'TRÀ', N'TEA', 0, N'https://www.freepik.com/icon/hot-tea_4300605')
INSERT [dbo].[ItemCategory] ([ItemCategoryId], [ItemCategoryName], [Description], [Discount], [Image]) VALUES (3, N'S?A CHUA', N'YOGURT', 0, N'https://www.google.com/imgres?q=s%E1%BB%AFa%20chua%20yogurt%20icon&imgurl=https%3A%2F%2Fpng.pngtree.com%2Fpng-clipart%2F20210312%2Fourmid%2Fpngtree-yogurt-clip-art-plain-yogurt-png-image_3033785.jpg&imgrefurl=https%3A%2F%2Fvi.pngtree.com%2Ffree-png-vectors%2Fyogurt&docid=Ap701QDLEZfmFM&tbnid=cPdzadW5b2u4TM&vet=12ahUKEwjb_rbak9uIAxVnqFYBHR3-E24QM3oECDcQAA..i&w=360&h=360&hcb=2&ved=2ahUKEwjb_rbak9uIAxVnqFYBHR3-E24QM3oECDcQAA')
SET IDENTITY_INSERT [dbo].[ItemCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberId], [MemberName], [Gender], [Phone], [Gmail], [BirthDate], [Address], [Point]) VALUES (1, N'Nguy?n Tu?n Cu?ng', 1, N'0934422800', N'cuongnthe171665@fpt.edu.vn', CAST(N'2003-08-13T00:00:00.000' AS DateTime), N'Hà N?i', 1000)
INSERT [dbo].[Member] ([MemberId], [MemberName], [Gender], [Phone], [Gmail], [BirthDate], [Address], [Point]) VALUES (2, N'Nguy?n Qu?c Tu?n', 1, N'0523452907', N'tuannqhe160900@fpt.edu.vn', CAST(N'2000-01-25T00:00:00.000' AS DateTime), N'Hà N?i', 1500)
INSERT [dbo].[Member] ([MemberId], [MemberName], [Gender], [Phone], [Gmail], [BirthDate], [Address], [Point]) VALUES (3, N'S?m Trung Hòa An', 1, N'0387919688', N'ansthhe176321@fpt.edu.vn', CAST(N'2003-04-23T00:00:00.000' AS DateTime), N'Thái Nguyên', 1000)
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
INSERT [dbo].[MenuCategory] ([MenuItemId], [ItemCategoryId], [StartDate], [EndDate], [IsForCombo]) VALUES (1, 1, NULL, NULL, 0)
INSERT [dbo].[MenuCategory] ([MenuItemId], [ItemCategoryId], [StartDate], [EndDate], [IsForCombo]) VALUES (2, 1, NULL, NULL, 0)
INSERT [dbo].[MenuCategory] ([MenuItemId], [ItemCategoryId], [StartDate], [EndDate], [IsForCombo]) VALUES (3, 1, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[MenuItem] ON 

INSERT [dbo].[MenuItem] ([MenuItemId], [ItemName], [Price], [Description], [Discount], [Image], [IsAvailable], [EmployeeId]) VALUES (1, N'Café Ðen/ Café Nâu', 22, N'Black Coffee/ Milk Coffee', 0, NULL, 1, 1)
INSERT [dbo].[MenuItem] ([MenuItemId], [ItemName], [Price], [Description], [Discount], [Image], [IsAvailable], [EmployeeId]) VALUES (2, N'B?c S?u', 25, N'White coffee', 0, NULL, 1, 1)
INSERT [dbo].[MenuItem] ([MenuItemId], [ItemName], [Price], [Description], [Discount], [Image], [IsAvailable], [EmployeeId]) VALUES (3, N'B?c S?u C?t D?a', 28, N'White coffee coconut', 0, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[MenuItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationId], [Title], [Content], [MemberId], [EmployeeId]) VALUES (1, N'Discount offer', N'Get 10% off on all coffee orders', 1, 2)
INSERT [dbo].[Notification] ([NotificationId], [Title], [Content], [MemberId], [EmployeeId]) VALUES (2, N'Happy Hour', N'50% off on all drinks from 3-5 PM', 2, 2)
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [OrderDate], [OrderDetailId], [TableId], [Cost], [Tax], [MemberId], [Status]) VALUES (1, CAST(N'2024-09-20T00:00:00.000' AS DateTime), 1, 1, 10.5, 1.05, 1, 1)
INSERT [dbo].[Order] ([OrderId], [OrderDate], [OrderDetailId], [TableId], [Cost], [Tax], [MemberId], [Status]) VALUES (2, CAST(N'2024-09-21T00:00:00.000' AS DateTime), 2, 2, 8, 0.8, 2, 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [Quantity], [MenuItemId], [OrderId]) VALUES (1, 2, 1, 1)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [Quantity], [MenuItemId], [OrderId]) VALUES (2, 1, 2, 2)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Owner] ON 

INSERT [dbo].[Owner] ([OwnerId], [OwnerName], [Gender], [Phone], [Gmail], [BirthDate], [BankId]) VALUES (1, N'Nguy?n Quang Minh', 1, N'0866187621', N'nguyenminh7902@gmail.com', CAST(N'2002-09-07T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Owner] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Magager')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Staff')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'Bartender')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([TableId], [QR], [Status], [EmployeeId]) VALUES (1, N'QR_000', 1, 1)
INSERT [dbo].[Table] ([TableId], [QR], [Status], [EmployeeId]) VALUES (2, N'QR_001', 1, 1)
INSERT [dbo].[Table] ([TableId], [QR], [Status], [EmployeeId]) VALUES (3, N'QR_002', 1, 1)
SET IDENTITY_INSERT [dbo].[Table] OFF
GO
INSERT [dbo].[Voucher] ([VocherDetailId], [ItemCategoryId], [IsActive]) VALUES (1, 1, 1)
INSERT [dbo].[Voucher] ([VocherDetailId], [ItemCategoryId], [IsActive]) VALUES (2, 2, 0)
INSERT [dbo].[Voucher] ([VocherDetailId], [ItemCategoryId], [IsActive]) VALUES (3, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[VoucherDetail] ON 

INSERT [dbo].[VoucherDetail] ([VoucherDetailId], [Title], [StartDate], [EndDate], [Discount]) VALUES (1, N'Summer Sale', CAST(N'2024-06-01T00:00:00.000' AS DateTime), CAST(N'2024-06-30T00:00:00.000' AS DateTime), 15)
INSERT [dbo].[VoucherDetail] ([VoucherDetailId], [Title], [StartDate], [EndDate], [Discount]) VALUES (2, N'Black Friday', CAST(N'2024-11-24T00:00:00.000' AS DateTime), CAST(N'2024-11-30T00:00:00.000' AS DateTime), 25)
INSERT [dbo].[VoucherDetail] ([VoucherDetailId], [Title], [StartDate], [EndDate], [Discount]) VALUES (3, N'Christmas Special', CAST(N'2024-12-20T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime), 20)
SET IDENTITY_INSERT [dbo].[VoucherDetail] OFF
GO
ALTER TABLE [dbo].[About]  WITH CHECK ADD  CONSTRAINT [FK_About_Owner] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Owner] ([OwnerId])
GO
ALTER TABLE [dbo].[About] CHECK CONSTRAINT [FK_About_Owner]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Member]
GO
ALTER TABLE [dbo].[MenuCategory]  WITH CHECK ADD  CONSTRAINT [FK_MenuCategory_ItemCategory] FOREIGN KEY([ItemCategoryId])
REFERENCES [dbo].[ItemCategory] ([ItemCategoryId])
GO
ALTER TABLE [dbo].[MenuCategory] CHECK CONSTRAINT [FK_MenuCategory_ItemCategory]
GO
ALTER TABLE [dbo].[MenuCategory]  WITH CHECK ADD  CONSTRAINT [FK_MenuCategory_MenuItem] FOREIGN KEY([MenuItemId])
REFERENCES [dbo].[MenuItem] ([MenuItemId])
GO
ALTER TABLE [dbo].[MenuCategory] CHECK CONSTRAINT [FK_MenuCategory_MenuItem]
GO
ALTER TABLE [dbo].[MenuItem]  WITH CHECK ADD  CONSTRAINT [FK_MenuItem_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[MenuItem] CHECK CONSTRAINT [FK_MenuItem_Employee]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Employee]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Member]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Member]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Table] FOREIGN KEY([TableId])
REFERENCES [dbo].[Table] ([TableId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Table]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_MenuItem] FOREIGN KEY([MenuItemId])
REFERENCES [dbo].[MenuItem] ([MenuItemId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_MenuItem]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[Owner]  WITH CHECK ADD  CONSTRAINT [FK_Owner_Bank] FOREIGN KEY([BankId])
REFERENCES [dbo].[Bank] ([BankId])
GO
ALTER TABLE [dbo].[Owner] CHECK CONSTRAINT [FK_Owner_Bank]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_ItemCategory] FOREIGN KEY([ItemCategoryId])
REFERENCES [dbo].[ItemCategory] ([ItemCategoryId])
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Voucher_ItemCategory]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_VoucherDetail] FOREIGN KEY([VocherDetailId])
REFERENCES [dbo].[VoucherDetail] ([VoucherDetailId])
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Voucher_VoucherDetail]
GO
USE [master]
GO
