@model AzzanOrder.ManagerOwner.Models.Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Add Menu Item</h5>
        </div>
        <div class="card-body">
            <form asp-action="AddPost" asp-controller="Menu" method="post">
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Name</label>
                    <div class="col-sm-10">
                        <input asp-for="menuItem.ItemName" class="form-control" />
                        <span asp-validation-for="menuItem.ItemName" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Item Category</label>
                    <div class="col-sm-10">
                        <ul>
                            @{
                                foreach (var i in Model.itemCategories)
                                {
                                    <li>
                                        <input type="checkbox" name="SelectedCategories" value="@i.ItemCategoryId" />
                                        <label>@i.ItemCategoryName</label>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>


                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Price</label>
                    <div class="col-sm-10">
                        <input asp-for="menuItem.Price" class="form-control" />
                        <span asp-validation-for="menuItem.Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Description</label>
                    <div class="col-sm-10">


                        <textarea asp-for="menuItem.Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="menuItem.Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Discount</label>
                    <div class="col-sm-10">
                        <input asp-for="menuItem.Discount" class="form-control" />
                        <span asp-validation-for="menuItem.Discount" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Image</label>
                    <div class="col-sm-10">
                        <input asp-for="menuItem.Image" name="menuItemImage" type="file" accept=".png, .jpg">
                        <small class="form-check-label text-muted">Only png and jpg allowed.</small>
                    </div>
                </div>



                <div class="mb-3 row">
                    <div class="col-sm-10 ms-sm-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Enable/disable datetime fields based on checkbox state
        const limitedCheckbox = document.getElementById('limitedCheckbox');
        const startDate = document.getElementById('startDate');
        const endDate = document.getElementById('endDate');

        if (limitedCheckbox) {
            limitedCheckbox.addEventListener('change', function () {
                const isChecked = limitedCheckbox.checked;
                startDate.disabled = !isChecked;
                endDate.disabled = !isChecked;
            });
        }
    });
</script>