@model AzzanOrder.ManagerOwner.Models.Model
<h1 class="h3 mb-3">List Feedback</h1>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">List Feedback</h5>
        </div>
        <div class="card-body">
            <table id="myTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width:5%">No.</th>
                        <th style="width:15%">Member Phone</th>
                        <th style="width:30%">Content</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int position = 1;
                    }
                    @foreach (var emp in Model.feedbacks.Where(f => f.Content.Split('/')[0] == Model.employee.EmployeeId.ToString()))
                    {
                        <tr>
                            <td>@position</td>
                            <td>@Model.members.FirstOrDefault(em => em.MemberId == emp.MemberId).Phone</td>
                            <td>@emp.Content.Split('/')[1]</td>
                        </tr>
                        position++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />

<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>