.box {
    height: 175px;
    width: 328px;
}

    .box .login-widget {
        height: 175px;
        left: 0;
        position: fixed;
        top: 0;
        width: 330px;
    }

    .box .overlap-group {
        background-image: url(./login-form.svg);
        background-size: 100% 100%;
        height: 195px;
        left: -10px;
        position: relative;
        top: -10px;
        width: 348px;
    }

    .box .text-wrapper {
        color: #000000;
        font-family: "Inter-Bold", Helvetica;
        font-size: 20px;
        font-weight: 700;
        left: 125px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        text-align: center;
        text-shadow: 0px 4px 4px #00000040;
        top: 29px;
        white-space: nowrap;
        width: 98px;
    }

    .box .phone-textbox {
        height: 26px;
        left: 61px;
        position: absolute;
        top: 85px;
        width: 260px;
    }

    .box .button {
        all: unset;
        align-items: center;
        background-color: var(--azzan-color);
        border: 0.5px solid;
        border-color: #2c2c2c;
        border-radius: 8px;
        box-shadow: 0px 4px 4px #00000040;
        box-sizing: border-box;
        display: flex;
        gap: 8px;
        height: 26px;
        justify-content: center;
        left: 75px;
        overflow: hidden;
        padding: 12px;
        position: absolute;
        top: 136px;
        width: 81px;
    }
#logoutbutton {
    background-color: var(--primary-color);
}
#warning-container{
    border-radius: 8px;
    border-width: 1px;
}
    .box .div {
        all: unset;
        box-sizing: border-box;
        color: #f5f5f5;
        font-family: "Inter-Regular", Helvetica;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 16px;
        margin-bottom: -6.5px;
        margin-left: -0.5px;
        margin-right: -0.5px;
        margin-top: -7.5px;
        position: relative;
        white-space: nowrap;
        width: fit-content;
    }

    .box .button-wrapper {
        all: unset;
        align-items: center;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 4px 4px #00000040;
        box-sizing: border-box;
        display: flex;
        gap: 8px;
        height: 26px;
        justify-content: center;
        left: 191px;
        overflow: hidden;
        padding: 12px;
        position: absolute;
        top: 136px;
        width: 81px;
    }

    .box .button-2 {
        all: unset;
        box-sizing: border-box;
        color: var(--primary-color);
        font-family: "Inter-Regular", Helvetica;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 16px;
        margin-bottom: -6.5px;
        margin-top: -7.5px;
        position: relative;
        white-space: nowrap;
        width: fit-content;
    }
