@model AzzanOrder.ManagerOwner.Models.Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Add Voucher</h5>
        </div>
        <div class="card-body">
            <form asp-action="AddPost" asp-controller="Voucher" method="post">
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Title</label>
                    <div class="col-sm-10">
                            <input asp-for="voucherDetail.Title" class="form-control" />
                            <span asp-validation-for="voucherDetail.Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Item Category</label>
                    <div class="col-sm-10">
                        <ul>
                            @{
                                foreach (var i in Model.itemCategories)
                                {
                                    <li>
                                        <input type="checkbox" name="SelectedCategories" value="@i.ItemCategoryId" />
                                        <label>@i.ItemCategoryName</label>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Limited</label>
                    <div class="col-sm-10">
                        <label class="form-check m-0">
                            <input type="checkbox" class="form-check-input" id="limitedCheckbox">
                        </label>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Start Date</label>
                    <div class="col-sm-10">
                        <input asp-for="voucherDetail.StartDate" id="startDate" class="form-control" data-inputmask-alias="datetime"
                               data-inputmask-inputformat="dd/mm/yyyy" disabled />
                        <span asp-validation-for="voucherDetail.StartDate" class="text-danger"></span>
                       @*  <input type="text" class="form-control" id="startDate" data-inputmask-alias="datetime"
                               data-inputmask-inputformat="dd/mm/yyyy" disabled /> *@
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">End Date</label>
                    <div class="col-sm-10">
                        <input asp-for="voucherDetail.EndDate" id="endDate" class="form-control" data-inputmask-alias="datetime"
                               data-inputmask-inputformat="dd/mm/yyyy" disabled />
                        <span asp-validation-for="voucherDetail.EndDate" class="text-danger"></span>
                        @* <input type="text" class="form-control" id="endDate" data-inputmask-alias="datetime"
                               data-inputmask-inputformat="dd/mm/yyyy" disabled /> *@
                        <span class="text-muted">DD/MM/YYYY format. Can be used for limited voucher only.</span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Discount</label>
                    <div class="col-sm-10">
                        <input asp-for="voucherDetail.Discount" class="form-control" />
                        <span asp-validation-for="voucherDetail.Discount" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Price</label>
                    <div class="col-sm-10">
                        <input asp-for="voucherDetail.Price" class="form-control" />
                        <span asp-validation-for="voucherDetail.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10 ms-sm-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Enable/disable datetime fields based on checkbox state
        const limitedCheckbox = document.getElementById('limitedCheckbox');
        const startDate = document.getElementById('startDate');
        const endDate = document.getElementById('endDate');

        if (limitedCheckbox) {
            limitedCheckbox.addEventListener('change', function () {
                const isChecked = limitedCheckbox.checked;
                startDate.disabled = !isChecked;
                endDate.disabled = !isChecked;
                startDate.value = "";
                endDate.value = "";
            });
        }
    });
</script>