@model AzzanOrder.ManagerOwner.Models.Table
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Add Table</h5>
        </div>
        <div class="card-body">
            <form asp-action="Add" method="post">
                <div class="mb-3 row">
                    <label asp-for="Qr" class="col-form-label col-sm-2 text-sm-end">QR code</label>
                    <div class="col-sm-10">
                        <input asp-for="Qr" class="form-control" placeholder="QR code">
                        <span asp-validation-for="Qr" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10 ms-sm-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            @if (ViewBag.QrCodeUrl != null)
            {
                <div class="mt-3">
                    <h4>QR Code</h4>
                    <img src="@ViewBag.QrCodeUrl" alt="QR Code" />
                    <a href="@ViewBag.QrCodeUrl" download="QRCode.png" class="btn btn-success mt-2">Save QR Code</a>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}