@model AzzanOrder.ManagerOwner.Models.Table

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Update Table</h5>
        </div>
        <div class="card-body">
            <form asp-action="Update" asp-controller="Table" method="post">
                <input type="hidden" asp-for="TableId" />
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">QR code</label>
                    <div class="col-sm-10">
                        <input asp-for="Qr" class="form-control" placeholder="QR code" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10 ms-sm-auto">
                        @if (ViewBag.QrCodeUrl == null)
                        {
                            <button type="submit" class="btn btn-primary">Submit</button>
                        }
                        else
                        {
                            <a href="@Url.Action("List", "Table")" class="btn btn-primary">Go to List</a>
                        }
                    </div>
                </div>
            </form>
            @if (ViewBag.QrCodeUrl != null)
            {
                <div class="mt-3">
                    <h5>QR Code</h5>
                    <img src="@ViewBag.QrCodeUrl" alt="QR Code" style="max-width:200px" />
                    <a href="@ViewBag.QrCodeUrl" download="QRCode.png" class="btn btn-success mt-2">Save QR Code</a>
                </div>
            }
        </div>
    </div>
</div>