@{
    ViewData["Title"] = "List";
}

@model AzzanOrder.ManagerOwner.Models.Model

<h1 class="h3 mb-3">Employee Management</h1>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">ListMenuItem A</h5>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width:5%">No.</th>
                    <th style="width:20%">Name</th>
                    <th style="width:20%">Menu</th>
                    <th style="width:5%">Price</th>
                    <th class="d-none d-md-table-cell" style="width:10%">Description</th>
                    <th class="d-none d-md-table-cell" style="width:5%">Discount</th>
                    <th style="width:10%">Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.itemCategories)
                {
                    @foreach(var item1 in item.MenuCategories)
                    {
                        <tr>
                            <td>1</td>
                            <td>@item1.MenuItem.ItemName</td>
                            <td>Coffee</td>
                            <td>1000</td>
                            <td class="d-none d-md-table-cell">Good drink</td>
                            <td class="d-none d-md-table-cell">None</td>
                            <td>Yes</td>
                            <td class="table-action">
                                <a href="@Url.Action("MenuItemDetail", "Menu")"><i class="align-middle" data-feather="edit-2"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>        
    </div>
</div>