<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Menu Item Details</h5>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-form-label col-sm-2 text-sm-end">Menu Item ID</label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext">ID</p>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-form-label col-sm-2 text-sm-end">Name</label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext">Name</p>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-form-label col-sm-2 text-sm-end">Item Category</label>
                <div class="col-sm-10">
                    <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4">
                        <p class="form-control-plaintext">Category</p>
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-form-label col-sm-2 text-sm-end">Price</label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext">Price</p>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-form-label col-sm-2 text-sm-end">Description</label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext">Description</p>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-form-label col-sm-2 text-sm-end">Discount</label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext">Discount</p>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Image</label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext">Image</p>
                    <small class="form-check-label text-muted">Only png and jpg allowed.</small>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Checkbox</label>
                <div class="col-sm-10">
                    <label class="form-check m-0">
                        <input type="checkbox" class="form-check-input" disabled>
                        <span class="form-check-label">Is Available?</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

