@model AzzanOrder.ManagerOwner.Models.ItemCategory
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Update Item Category</h5>
        </div>
        <div class="card-body">
            <form asp-action="Update"asp-controller="ItemCategory" method="post">
                <input type="hidden" asp-for="ItemCategoryId" />
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Name</label>
                    <div class="col-sm-10">
                        <input type="text" asp-for="ItemCategoryName" class="form-control" placeholder="Name">
                        <span asp-validation-for="ItemCategoryName" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Description</label>
                    <div class="col-sm-10">
                        <textarea asp-for="Description" class="form-control" placeholder="Description" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Start Date</label>
                    <div class="col-sm-10">
                        <input asp-for="StartDate" class="form-control" data-inputmask-alias="datetime"
                               data-inputmask-inputformat="dd/mm/yyyy" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">End Date</label>
                    <div class="col-sm-10">
                        <input asp-for="EndDate" class="form-control" data-inputmask-alias="datetime"
                               data-inputmask-inputformat="dd/mm/yyyy" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">IsCombo</label>
                    <label class="col-sm-10">
                        <input type="checkbox" class="form-check-input" name="IsCombo" value="true" @(Model.IsCombo == true ? "checked": "")>
                    </label>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10 ms-sm-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
