@model AzzanOrder.ManagerOwner.Models.Model

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Add Abouts</h5>
        </div>
        <div class="card-body">
            <form asp-action="AddPost" asp-controller="AboutUs" method="post">
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Title</label>
                    <div class="col-sm-10">
                        <input type="text" asp-for="about.Title" class="form-control" placeholder="Name">
                        <span asp-validation-for="about.Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Content</label>
                    <div class="col-sm-10">
                        <textarea asp-for="about.Content" class="form-control" placeholder="Description" rows="3"></textarea>
                        <span asp-validation-for="about.Content" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-10 ms-sm-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>