@model AzzanOrder.ManagerOwner.Models.Promotion

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Add Promotion</h5>
        </div>
        <div class="card-body">
            <form asp-action="Add" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="PromotionId" />
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Title" placeholder="Title">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Destination</label>
                    <div class="col-sm-10">
                        <select name="Destination" class="form-control">
                            <option value="carousel">Carousel</option>
                            <option value="banner">Banner</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" asp-for="Description" placeholder="Description" rows="3"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Image</label>
                    <div class="col-sm-10">
                        <img id="newImage" src="#" alt="New Image" class="img-fluid mb-3" style="display:none; width: 300px;" />
                        <input type="file" asp-for="Image" accept="image/*" onchange="previewImage(event)">
                        <small class="form-check-label text-muted">Only png and jpg allowed.</small>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10 ms-sm-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('newImage');
                output.src = reader.result;
                output.style.display = 'block';
                var currentImage = document.getElementById('currentImage');
                if (currentImage) {
                    currentImage.style.display = 'none';
                }
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}