<div class="col-12">
    <div class="card">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width:5%">On Carousel</th>
                    <th style="width:25%">Title</th>
                    <th class="d-none d-md-table-cell" style="width:30%">Description</th>
                    <th style="width:30%">Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" class="form-check-input" id="limitedCheckbox">
                    </td>
                    <td>Sale or something</td>
                    <td class="d-none d-md-table-cell">Big sale!!</td>
                    <td>Image</td>
                    <td class="table-action">
                        <a href="@Url.Action("Update", "Promotion")"><i class="align-middle" data-feather="edit-2"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <a href="javascript:void(0);" class="btn btn-primary" onclick="saveStatus()">Save Status</a>
        </div>
    </div>
</div>
